<a href="https://colab.research.google.com/github/ProData-Emmanuel/Climate-Change-Project/blob/master/Hamoye_Data_science_Graded_Quiz1_O__Emmanuel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:

import pandas as pd #importing the pandas library to read csv from web link. 
import numpy as np
# from pandas import DataFrame


url = "https://bit.ly/HDSC-StageOneDataset"    # assingning the web link to variable url
df1 = pd.read_csv(url)     #importing the csv file from the url using pandas read csv method.
df1

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

Checking for Missing Values in the Dataset

In [2]:
df1.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

We can see that only the fuel_unit Column has missing values that totalled 180 in count

In [3]:
# Checking the SKEWNESS of the Dataset

df1.skew(axis=0)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [5]:
# Checking for the KURTOISIS (i.e, If the dataset for each column has Outliners)

df1.kurtosis(axis=0)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

HIGHEST AVERAGE FUEL COST/UNIT DELIVERED YEAR

In [6]:

fuel_delivered =df1.groupby("report_year")["fuel_cost_per_unit_delivered"].mean()
fuel_delivered

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

# TO CALCULATE THE MEAN COST OF FUEL BURNED:

First Grouping by Fuel Type and Reporting Year

In [35]:
# Finding the Sums

sum_cost = df1.groupby(["report_year","fuel_type_code_pudl"]).sum()
sum_cost.head()

                                 utility_id_ferc1  ...  fuel_cost_per_mmbtu
report_year fuel_type_code_pudl                    ...
1994        coal                            50430  ...            682.14697
            gas                             54449  ...           1368.51941
            nuclear                          6643  ...            136.53400
            oil                             14821  ...           1147.21573
            other                            1208  ...             27.97400

[5 rows x 6 columns]

In [36]:
sum_cost.shape

(148, 6)

In [38]:
# Locating the total Cost of Coal Burned in 1994 and 1998

sum_cost["fuel_cost_per_unit_burned"].loc[[1994,1998],"coal"]

report_year  fuel_type_code_pudl
1994         coal                   14984.572
1998         coal                   11902.597
Name: fuel_cost_per_unit_burned, dtype: float64

In [39]:
# PERCENT CHANGE OF Fuel Cost per Unit of Coal Burned Btw 1994 and 1998 : Using Tuple to assign the values

year_1994,year_1998 = sum_cost["fuel_cost_per_unit_burned"].loc[[1994,1998],"coal"]
perc_change = ((year_1998 - year_1994))/ (year_1994) *100
perc_change

-20.56765451826049

# CALCULATION OF CORRELATION

In [43]:

A =  df1.iloc[:,8]       #assigning fuel_cost_per_unit_burnt to variable A
B = df1.iloc[:,[1,2,6,7,9,10]] #assigning the remeining integer dataset Columns to variable B
B

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
0                     1  ...                1.121
1                     1  ...                1.120
2                     2  ...                1.650
3                     2  ...                1.970
4                     2  ...                2.570
...                 ...  ...                  ...
29518                12  ...                9.030
29519                12  ...                6.950
29520                12  ...                8.990
29521                12  ...                1.110
29522                12  ...               11.680

[29523 rows x 6 columns]

In [44]:

a,b,c,d,e,f = [B.iloc[:,0],B.iloc[:,1],B.iloc[:,2],B.iloc[:,3],B.iloc[:,4],B.iloc[:,5]] #unpacking each column to variables a,b,c,d,e,f

In [45]:
def correl(a,b,c,d,e,f):       #defines a function that return the correlation of variable A to ech column 
  answer = []                         #and append the result to list
  for i in a,b,c,d,e,f:
    answer.append(A.corr(i))
  return answer
correl(a,b,c,d,e,f)
D = correl(a,b,c,d,e,f)
D

[-0.0378627075999726,
 0.013599134438134116,
 -0.018535416794825225,
 -0.010033808428853071,
 0.01100740329916511,
 -0.0004372104439704003]

In [48]:

df2 = {"utility_id_ferc1":-0.0378627075999726,"report_year":-0.018535416794825225,"fuel_qty_burned":-0.010033808428853071,"fuel_mmbtu_per_unit":-0.0004372104439704003,"fuel_cost_per_unit_delivered":0.01100740329916511,"fuel_cost_per_mmbtu":0.013599134438134116}
correlation = pd.DataFrame(df2, index = [1]) #creates a dictionay with the correlation and hence forms a Dataframe with the answer.
correlation

   utility_id_ferc1  ...  fuel_cost_per_mmbtu
1         -0.037863  ...             0.013599

[1 rows x 6 columns]

In [49]:
correlation.min()

utility_id_ferc1               -0.037863
report_year                    -0.018535
fuel_qty_burned                -0.010034
fuel_mmbtu_per_unit            -0.000437
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu             0.013599
dtype: float64

In [53]:
correlation.min()

utility_id_ferc1               -0.037863
report_year                    -0.018535
fuel_qty_burned                -0.010034
fuel_mmbtu_per_unit            -0.000437
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu             0.013599
dtype: float64

In [55]:
correlation.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count          1.000000  ...             1.000000
mean          -0.037863  ...             0.013599
std                 NaN  ...                  NaN
min           -0.037863  ...             0.013599
25%           -0.037863  ...             0.013599
50%           -0.037863  ...             0.013599
75%           -0.037863  ...             0.013599
max           -0.037863  ...             0.013599

[8 rows x 6 columns]