<a href="https://colab.research.google.com/github/ProData-Emmanuel/Climate-Change-Project/blob/master/Okeke_Emmanuel_Data_Science_Stage_C_Graded_Quiz_Hamoye_Internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00471/Data_for_UCI_named.csv"
df = pd.read_csv(url)
df

          tau1      tau2      tau3  ...        g4      stab     stabf
0     2.959060  3.079885  8.381025  ...  0.958034  0.055347  unstable
1     9.304097  4.902524  3.047541  ...  0.781760 -0.005957    stable
2     8.971707  8.848428  3.046479  ...  0.109853  0.003471  unstable
3     0.716415  7.669600  4.486641  ...  0.362718  0.028871  unstable
4     3.134112  7.608772  4.943759  ...  0.820923  0.049860  unstable
...        ...       ...       ...  ...       ...       ...       ...
9995  2.930406  9.487627  2.376523  ...  0.608385  0.023892  unstable
9996  3.392299  1.274827  2.954947  ...  0.366120 -0.025803    stable
9997  2.364034  2.842030  8.776391  ...  0.145984 -0.031810    stable
9998  9.631511  3.994398  2.757071  ...  0.818391  0.037789  unstable
9999  6.530527  6.781790  4.349695  ...  0.942631  0.045263  unstable

[10000 rows x 14 columns]

Conducting Exploratory Data Analysis

In [42]:
#checking for null values in the dataset
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [43]:
df = df.drop(['stab'], axis=1)
df

          tau1      tau2      tau3  ...        g3        g4     stabf
0     2.959060  3.079885  8.381025  ...  0.887445  0.958034  unstable
1     9.304097  4.902524  3.047541  ...  0.562139  0.781760    stable
2     8.971707  8.848428  3.046479  ...  0.839444  0.109853  unstable
3     0.716415  7.669600  4.486641  ...  0.929381  0.362718  unstable
4     3.134112  7.608772  4.943759  ...  0.656947  0.820923  unstable
...        ...       ...       ...  ...       ...       ...       ...
9995  2.930406  9.487627  2.376523  ...  0.813512  0.608385  unstable
9996  3.392299  1.274827  2.954947  ...  0.285880  0.366120    stable
9997  2.364034  2.842030  8.776391  ...  0.149286  0.145984    stable
9998  9.631511  3.994398  2.757071  ...  0.889118  0.818391  unstable
9999  6.530527  6.781790  4.349695  ...  0.378761  0.942631  unstable

[10000 rows x 13 columns]

In [44]:
#check the distribution of target variables
df['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [45]:
df.dtypes

tau1     float64
tau2     float64
tau3     float64
tau4     float64
p1       float64
p2       float64
p3       float64
p4       float64
g1       float64
g2       float64
g3       float64
g4       float64
stabf     object
dtype: object

The labels has categorical values, and can be encoded to be useful in the ML

In [46]:
# Encoding the labels using LabelEncoder
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df.stabf = encoder.fit_transform(df.stabf)

In [ ]:
df.head()

       tau1      tau2      tau3      tau4  ...        g2        g3        g4  stabf
0  2.959060  3.079885  8.381025  9.780754  ...  0.859578  0.887445  0.958034      1
1  9.304097  4.902524  3.047541  1.369357  ...  0.862414  0.562139  0.781760      0
2  8.971707  8.848428  3.046479  1.214518  ...  0.766689  0.839444  0.109853      1
3  0.716415  7.669600  4.486641  2.340563  ...  0.976744  0.929381  0.362718      1
4  3.134112  7.608772  4.943759  9.857573  ...  0.455450  0.656947  0.820923      1

[5 rows x 13 columns]

In [48]:
# splitting the Data set into 80-20
features_df = df.drop(columns=["stabf"])
target_var = df["stabf"]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, target_var, test_size=0.2, random_state=1)

In [ ]:
x_test

In [53]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
normalised_train = scaler.fit_transform(x_train)
normalised_test = scaler.transform(x_test)

In [59]:
normalised_train_df = pd.DataFrame(normalised_train, columns=x_train.columns)
normalised_test_df = pd.DataFrame(normalised_test, columns=x_test.columns)
normalised_test_df.head()

       tau1      tau2      tau3  ...        g2        g3        g4
0  0.593951 -0.412733  1.503924  ...  1.167203 -1.507330  1.084726
1  0.202190  0.374416 -0.188800  ... -0.395660  1.414651  1.226011
2 -1.079044 -0.313745 -0.884634  ... -1.438495  0.651821 -1.682168
3 -0.083120 -1.107327  0.372805  ... -1.672322 -0.357714  1.055865
4  0.873921  1.438466  0.086662  ... -1.469731  0.956396 -0.819727

[5 rows x 12 columns]

In [63]:
# Selecting a Binary Classifier model, Logistic Regression and importing the libraries

from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

# Fit the Classifier with the train features
log_reg.fit(normalised_train_df, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [64]:
# The trained model is ready to make predictions
log_reg.predict(normalised_test_df)

array([1, 1, 0, ..., 1, 1, 1])

MEASURING CLASSIFICATION PERFORMANCE